/* page standard */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: Gothic;
						/* fin */
}						
						
						
						/*Navigation Styling */

/* Navbar container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: #8baf7c;
    font-family: Arial;
	border-bottom: 4px solid #465B3C;
}


/* Logo */
.navbar .logo {
    margin: 3; /* Remove default margin */
    padding: 5; /* Remove default padding */
    height: 110px;
    width: auto;
}


/* NavBar Links (home & who we are) */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}
/* Underline animation on hover */
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  top: 1;
  left: 0;
  background-color: #718C64;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px; /* Adjust padding as needed */
  margin: 0; /* Remove margin */
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
}


/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #738290;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color:  #b6ccf1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}				
					
					/* Nav Bar Donate Button */
/* Button */
.navbar .donate {
	padding: 10px 20px;
    color: #8baf7c;
    text-decoration: none;
    background-color:#fdfdf5; /* background color */
    border-radius: 20px; /* Round off the edges */
    position: relative; /* To position the heart icon */
	display: inline-block;
}

/* Heart Icon */
.navbar .donate::after {
    content: '\2764\FE0F'; /* Unicode for heart icon */
    position: absolute;
    right: -20px; /* Adjust distance from the text */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Center vertically */
    color: white; /* Set the color to white */
}

/* Hover effect for Donate Button */
.navbar .donate:hover {
    background-color: #f7f7e0; 
}

					/*fin donate button */
					
					/* fin nav styling */
					
					/*footer styling */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #8baf7c;
    padding: 10px; /* Add padding to create some space around the copyright notice */
    text-align: center; /* Align the copyright notice to the center */
}

			/* Copyright notice styling */
footer .copyright {
    color: #738290; 
    font-size: 14px; 
}

/* Footer Donate Button */
footer .donate {
    padding: 10px 20px;
    color: #8baf7c;
    text-decoration: none;
    background-color:#fdfdf5; /* background color */
    border-radius: 20px; /* Round off the edges */
    position: relative; /* To position the heart icon */
    margin-top: 20px; /* Add margin to create space between the donate button and copyright notice */
    display: inline-block; /* Ensure it doesn't take full width */
}

/* Hover effect for Footer Donate Button */
footer .donate:hover {
    background-color: #f7f7e0;
}

					/*fin footer styling */
